.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  height: 100%;
  width: 15px;

  background-color: red;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
  /* margin-bottom: 2rem; */
}

.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
}

.c-title {
  width: 80%;
  font-size: 60px;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.c-right {
  height: 70vh;
}

fieldset {
  border: solid;
  border-radius: 5%;
}
legend {
  font-size: 2rem;
  font-style: normal;

  padding: 0.25rem;
  color: #999;
  margin-left: 4%;
}

label {
  display: block;
  margin-top: 0.5%;
}
label:first-of-type {
  margin-top: 0;
}

input {
  padding: 0.5rem;
  border: solid 2px #999;
}

input[type='email'],
input[type='text'] {
  width: 20rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  padding-top: 0;
  margin-top: 0%;
  margin-left: 1.5rem;
  margin-right: 0;
}
input[type='radio']:first-of-type {
  margin-left: 0%;
}

input[type='submit'] {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}
.button {
  margin-top: 1.5%;
}
textarea {
  min-height: 8rem;
  min-width: 97%;
  padding: 0.5rem;
  border: solid 2px #999;
}
/* /.............radio buttons..../ */
.checks {
  margin-bottom: 0;
}

.submit-button {
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 30px;
  }

  .c-title {
    font-size: 40px;
  }
  .c-info-item {
    margin: 20px 0px;
    font-weight: 300;
    width: 100%;
  }
  .c-right {
  }

  form {
    margin-top: 0px;
  }
  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
  }
}
